.dashboard-job-posts {
  margin-top: 8rem;
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.counter-cards {
  display: flex;
  justify-content: space-between;
}
.status-cards {
  display: flex;
  justify-content: space-between;
}
