:root {
  --primary-color: #8967b3;
  --secondary-color: #0c47ec;
  --font-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.login-container {
  width: 60rem;
  margin: 7rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-family: "Kantumruy Pro";
}
.login-form label {
  display: block;
  margin-bottom: 0.6rem;
  text-align: left;
  font: normal normal bold 2.3rem/2.8rem "Kantumruy Pro";
  color: var(--font-color);
  letter-spacing: 0;
}

.form-container {
  width: 32rem;
}
.action-buttons {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  margin-top: 1rem;
}

.error-message {
  color: red;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.reset-link {
  font-size: 1.6rem;
  display: inline-block;
}

.reset-link a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
}

.reset-link a:hover {
  text-decoration: underline;
}
.first-time-text {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.first-time-text a {
  color: var(--secondary-color);
  font-weight: bold;
}
