:root {
  --primary-color: #8967b3;
  --secondary-color: #0c47ec;
  --font-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.password-field-form {
  position: relative;
}

.password-field input {
  width: 100%;
  height: 5.2rem;
  padding: 1rem 1.5rem;
  margin: 0.7rem 0;
  border: none;
  border-radius: 10px;
  font-size: 1.8rem;
  color: #444444;
  background-color: #dfdfdf;
  outline: none;
}

.password-field input:focus {
  border-bottom: 2px solid var(--primary-color);
}

.password-field input::placeholder {
  font-family: inherit;
  font-weight: normal;
  padding: 0.3rem;
}

.show-eye-icon {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.eye-icon {
  color: #444444;
  font-size: 1.8rem;
}
